<div class="bg">
  <div class="parent">
    <div class="child">
      <div nz-row class="imgDiv">
        <div nz-col nzSpan="24">
          <h1 style="margin-left: 100px;">Login</h1>
        </div>
      </div>
      <form nz-form [formGroup]="validaForm" class="login-form" (ngSubmit)="submeterForm()">
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor insira seu e-mail!">
            <nz-input-group nzPrefixIcon="user">
              <input type="text" nz-input formControlName="userName" placeholder="E-mail"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzErrorTip="Por favor insira seu Password!">
            <nz-input-group nzPrefixIcon="lock">
              <input type="password" nz-input formControlName="password" placeholder="Password"/>
            </nz-input-group>
          </nz-form-control>
        </nz-form-item>
        <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Conecte-se</button>
          Ou <a routerLink="/registrar">Registre-se agora!</a>
      </form>
    </div>
  </div>
</div>