<div class="container">
  <div class="section">
    <div class="header">
      <h1>Bem-Vindo ao Sistema de Reserva de Serviços!</h1>
      <p>Escolha seu tipo de usuário para começar:</p>
    </div>
    <div class="buttons">
      <button nz-button nzType="primary" routerLink="/registrar_empresa">
        Registre-se como uma Empresa
      </button>
      <button nz-button nzType="primary" routerLink="/registrar_cliente">
        Registre-se como um Cliente
      </button>
    </div>
  </div>
</div>